{% extends 'core/base.html' %} {% load static %} {% block title %}{{
article.title }} | WhitePillz{% endblock %} {% block content %}
<div class="article-detail-container">
  <div class="article-main">
    <div class="article-header">
      <div class="article-meta">
        <span class="article-source">{{ article.source.name }}</span>
        <span class="article-date"
          >{{ article.published_at|date:"F j, Y" }}</span
        >

        {% if article.sentiment == 'positive' %}
        <span class="sentiment-badge positive">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
          Positive
        </span>
        {% elif article.sentiment == 'negative' %}
        <span class="sentiment-badge negative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
          Negative
        </span>
        {% else %}
        <span class="sentiment-badge neutral">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.5 9a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          Neutral
        </span>
        {% endif %}
      </div>

      <h1 class="article-title">{{ article.title }}</h1>

      {% if article.category %}
      <div class="article-category">
        <a
          href="{% url 'core:category_list' category_slug=article.category.slug %}"
          >{{ article.category.name }}</a
        >
      </div>
      {% endif %}
    </div>

    {% if article.image_url %}
    <div class="article-image">
      <img src="{{ article.image_url }}" alt="{{ article.title }}" />
    </div>
    {% endif %}

    <div class="article-content">{{ article.content|safe }}</div>

    <div class="article-actions">
      <a href="{{ article.url }}" target="_blank" class="btn-primary">
        Read Original Article
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
          />
          <path
            fill-rule="evenodd"
            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
          />
        </svg>
      </a>
      <div class="article-share">
        <button class="btn-share">
          Share
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="article-sidebar">
    <div class="sentiment-explanation">
      <h3>About this article's sentiment</h3>
      {% if article.sentiment == 'positive' %}
      <p>
        This article has been classified as having a
        <strong>positive</strong> sentiment. This means it likely contains
        optimistic, constructive, or uplifting content.
      </p>
      {% elif article.sentiment == 'negative' %}
      <p>
        This article has been classified as having a
        <strong>negative</strong> sentiment. This means it may contain
        concerning, critical, or problematic content.
      </p>
      {% else %}
      <p>
        This article has been classified as having a
        <strong>neutral</strong> sentiment. This means it is likely presenting a
        balanced or objective viewpoint without strong positive or negative
        bias.
      </p>
      {% endif %}
    </div>

    {% if related_articles %}
    <div class="related-articles">
      <h3>Related Articles</h3>
      <ul>
        {% for related in related_articles %}
        <li>
          <a href="{% url 'core:article_detail' slug=related.slug %}">
            {{ related.title }}
          </a>
          <span class="related-date"
            >{{ related.published_at|date:"M d" }}</span
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="article-categories-sidebar">
      <h3>Browse by Category</h3>
      <ul>
        {% for category in categories %}
        <li>
          <a href="{% url 'core:category_list' category_slug=category.slug %}"
            >{{ category.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
